<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page With Light/Dark Mode</title>
    <link rel="stylesheet" href="/public/css/index.css" />
  </head>
  <body>
    <main>
      <div class="big-wrapper light">
        <img src="/public/img/shape.png" alt="" class="shape" />

        <header>
          <div class="container">
            <div class="logo">
              <img src="/public/img/logo1.png" alt="Logo" />
              <h3>TrackIT</h3>
            </div>

            <div class="overlay"></div>

            <div class="hamburger-menu">
              <div class="bar"></div>
            </div>
          </div>
        </header>

        <div class="showcase-area">
          <div class="container">
            <div class="left">
              <div class="big-title">
                <h1>Analyze Data Easily</h1>

              </div>
              <p class="text">
                TrackIT assists teachers to plan properly their next academic year
              </p>
              <div class="cta">
                <a href="http://localhost:3000" class="btn">Get started</a>
              </div>
            </div>

            <div class="right">
              <img src="/public/img/analysis.png" alt="Person Image" class="person" />
            </div>
          </div>
        </div>

        <div class="bottom-area">
          <div class="container">
            <button class="toggle-btn">
              <i class="far fa-moon"></i>
              <i class="far fa-sun"></i>
            </button>
          </div>
        </div>
      </div>
    </main>

    <!-- JavaScript Files -->

    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="/public/js/index.js"></script>
  </body>
</html>